<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{post.title}}  {{pageTitle}} | Node.JS Project KKU</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Description" lang="en" content="ADD SITE DESCRIPTION">
		<meta name="author" content="ADD AUTHOR INFORMATION">
		<meta name="robots" content="index, follow">

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/cas.css">
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@500;600;700&family=Raleway:ital@0;1&display=swap" rel="stylesheet">
	</head>
	<body>

		    <header id="masthead" class="site-head">



	
        <div class="head-img mx-auto">
            <figure><img class="img-fluid" src="/img/cas.png">
                <figcaption hidden>Blog Name</figcaption>
            </figure>
        </div>
        <div class="head-text text-center ">Serkan Baykal</div>
        <div class="head-desc text-center">Project</div>
        <div class="head-soc text-center">{{>site-latest}}</span>
</div>
    </header>